# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\New Projects\Privat\TAS editor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
